* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    width: 100%;
    text-align: center;
  }
  
  .auth-button {
    background-color: #4285f4;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .auth-button:hover {
    background-color: #357ae8;
  }